/* ===============================
   TOP BAR
================================*/
.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #01534d;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
     box-sizing: border-box;

}
.titarra{
    font-size: 30px;
    font-weight: bold;
    color: white;
    align-items: center;
}
.logos {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logos img {
    height: 45px;  /* tamanho ideal */
    width: auto;
    object-fit: contain;
}

.user-area {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
}

.btn-sair {
    background: #004c45;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.btn-sair:hover {
    background: #003a35;
}

/* ===============================
   FUNDO
================================*/
body {
    margin: 0;
    background: #f4f6fb;
    font-family: Arial, sans-serif;
}

/* ===============================
   CONTEÚDO CENTRAL
================================*/
.container {
    margin: 250px auto 40px auto;
    width: 90%;
    max-width: 360px;
    background: white;
    padding: 50px 40px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,.18);
    text-align: center;
}

h1 {
    color: #014642;
    font-size: 32px;
}

.texto {
    color: #333;
    margin-bottom: 40px;
}

.botoes {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    background-color: #01534d;
    color: white;
    padding: 15px 28px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    background-color: #013d38;
}
