body {
    font-family: Arial;
    margin: 0;
    background: #f4f6fb;
}

.top-bar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 40px;
    background: #01534d;
    color: white;
    font-size: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logos img {
    height: 60px;
}

.container {
    margin: 150px auto;
    width: 80%;
    max-width: 900px;
    background: white;
    padding: 40px;
    border-radius: 12px;
}

h1 {
    text-align: center;
    color: #02403c;
    margin-bottom: 40px;
}

button {
    background: #02665e;
    padding: 15px 30px;
    color: white;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #024d46;
}
