/* ===========================
   BASE / GERAL
=========================== */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f6fb;
}

/* ===========================
   TOP BAR (PADRÃO ADM)
=========================== */

.top-bar {
    width: 100%;
    background: #005c56;
    padding: 12px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    color: white;
    font-weight: bold;
    flex-wrap: wrap;
    box-sizing: border-box;

}

.title {
    font-weight: bold;
}

.logos img {
    height: 60px;
}

/* ===========================
   CONTAINER PRINCIPAL
=========================== */

.container {
    margin: 130px auto 40px auto;
    width: 90%;
    max-width: 360px;
    background: white;
    padding: 50px 40px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,.18);
    text-align: center;
    
}

/* TÍTULO */
h1 {
    text-align: center;
    color: #014642;
    margin-bottom: 35px;
    font-size: 32px;
    font-weight: bold;
}

/* ===========================
   BOTÕES
=========================== */

button,
.btn-relatorios {
    background: #02665e;
    color: white;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: 300px;
    display: block;
    margin: 0 auto 20px auto;
    transition: 0.25s;
    text-decoration: none;
}

button:hover,
.btn-relatorios:hover {
    background: #014f49;
}

/* BOTÃO SAIR (VERMELHO) */
.btn-sair {
    background: #7c7c7c;
}

.btn-sair:hover {
    background: #9e1d1d;
}
