body {
    background-color: #f4f6fb;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* =============== TOP BAR =============== */
.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #01534d;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
        box-sizing: border-box;

}

.logos img {
    height: 60px;
    margin-right: 10px;
}

.title {
    font-size: 22px;
}

.user-area {
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn-sair {
    background: #004c45;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.btn-sair:hover {
    background: #003a35;
}

/* =============== CONTAINER =============== */

.container {
    margin-top: 140px;
    background: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px #00000020;
}

h2 {
    text-align: center;
    color: #014642;
}

/* =============== TABELA =============== */

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 25px;
}

th {
    background: #01534d;
    color: white;
    padding: 12px;
}

td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

tr:nth-child(even) {
    background: #f4fbfa;
}

/* =============== BOTÃO CENTRAL =============== */

.btn-center {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.btn-criar {
    background: #01534d;
    color: white;
    padding: 12px 25px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.btn-criar:hover {
    background-color: #013d38;
}

/* =============== MODAL =============== */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 25px;
    width: 350px;
    border-radius: 12px;
}

.modal-content label {
    margin-top: 10px;
    font-weight: bold;
}

.modal-content input,
.modal-content select {
    width: 92%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn {
    padding: 10px 18px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

.confirmar {
    background-color: #01534d;
    color: white;
}

.cancelar {
    background-color: #aaa;
    color: white;
}
